.cv-page .profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cv-page .profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 50px;
}

.cv-page .profile-info {
    flex: 1;
}

.cv-page h3 {
    font-size: 2em;
    color: #003d66;
    margin: 0;
}

/* Secciones de experiencia y educación */
.cv-page .experience-preview,
.cv-page .education-preview {
    font-size: 1.5em;
    color: #003d66;
    border-bottom: 2px solid #003d66;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.experience-list-item::marker,
.education-list-item::marker {
    content: none;
    display: none;
}

.cv-page .experience-list-item h4,
.cv-page .education-list-item h4 {
    font-size: 1.2em;
    color: #003d66;
    margin-bottom: 12px;
}