:root {
    --background: #fff;
    --background-container: #f9f9f9;
    --border: #ccc;
    --button-primary: #007BFF;
    --button-primary-hover: #0069D9;
    --button-secondary: #6c757d;
    --button-secondary-hover: #5c636a;
    --button-success: #28a745;
    --button-success-hover: #218838;
    --button-danger: #dc3545;
    --button-danger-hover: #bb2d3b;
    --button-warning: #ffc107;
    --button-warning-hover: #ffca2c;
    --button-info: #0dcaf0;
    --button-info-hover: #31d2f2;
    --button-light: #f8f9fa;
    --button-light-hover: #d3d4d5;
    --button-dark: #212529;
    --button-dark-hover: #424649;
    --button-link: #6ea8fe;
    --button-link-hover: #8bb9fe;
    --title: #003d66;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    margin-block: 0 20px;
    color: var(--title);
}

h2 {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px 0;
}

input,
textarea,
select,
button {
    margin: 5px 0 20px 0;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 100%;
}

input[type="checkbox"] {
    margin: 0 0 20px 0;
    padding: 0;
    width: 10%;
}

button {
    background-color: var(--button-success);
    color: var(--background);
    cursor: pointer;

    &:hover {
        background-color: var(--button-success-hover);
    }
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* ASIDE SECTION */
.sidebar {
    width: 450px;
    /* Ancho inicial */
    min-width: 150px;
    /* Ancho mínimo */
    max-width: 50vw;
    /* Ancho máximo */
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--background-container);
    overflow-y: auto;
}

.sidebar header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#languageSelect {
    padding: 10px 2px;
    font-size: 16px;
    /* text-align: center; */
}

#image-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

#image-container {
    background-color: var(--background);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-preview {
    max-width: 100%;
    max-height: 50vh;
    margin-bottom: 20px;
}

.button-cropper {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

#save-image {
    background-color: var(--button-primary);

    &:hover {
        background-color: var(--button-primary-hover);
    }
}

#cancel-image {
    background-color: var(--button-danger);

    &:hover {
        background-color: var(--button-danger-hover);
    }
}

.inputs-date {
    display: grid;
    grid-template-columns: 47% 47%;
    /* Dos columnas de igual tamaño */
    grid-template-rows: auto auto auto;
    /* Tres filas de tamaño automático */
    grid-template-areas:
        "label-start label-end"
        "input-start input-end"
        "checkbox checkbox";
    column-gap: 6%;
    /* Espacio entre los elementos de la grilla */
    max-width: 100%;
    /* Asegúrate de que no exceda el ancho del contenedor */
    width: 100%;
    box-sizing: border-box;
    /* Incluye padding y border en el ancho total */
}

.inline-label:nth-of-type(1) {
    grid-area: label-start;
}

.inline-label:nth-of-type(2) {
    grid-area: label-end;
}

.inline-input:nth-of-type(1) {
    grid-area: input-start;
    margin: 5px 0 0 0;
}

.inline-input:nth-of-type(2) {
    grid-area: input-end;
    margin: 5px 0 0 0;
}

.inputs-date label:nth-of-type(3) {
    grid-area: checkbox;
    display: flex;
    align-items: start;
}

/* PREVIEW SECTION */
.preview {
    width: 70%;
    font-family: Arial, sans-serif;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1;
}

.profile-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.cv-preview-frame {
    max-height: 90vh;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid var(--border);
    border-radius: 8px;
    background-color: var(--background-container);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cv-preview-container {
    width: 210mm;
    min-height: 297mm;
    /* Tamaño A4 */
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid var(--border);
    background-color: var(--background);
    margin: 0 auto;
    overflow: hidden;
}

.cv-page {
    min-height: 297mm;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    page-break-after: always;
    /* Salto de página en impresión */
}

.cv-page:last-child {
    page-break-after: auto;
}

.experience-list-item::marker,
.education-list-item::marker {
    content: none;
    display: none;
}

#export-pdf {
    /* display: block; */
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    color: var(--background);
    background-color: var(--button-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    pointer-events: none;

    &:hover {
        background-color: var(--button-primary-hover);
    }

    &:disabled {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }
}

/* RESIZER */
.resizer {
    width: 5px;
    cursor: ew-resize;
    /* Cursor de redimensionar horizontal */
    background: #ccc;
    transition: background 0.2s;
}

.resizer:hover {
    background: #999;
}